@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
}

header{
    margin-top: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 10%;
    background-color: rgba(0, 0, 0, 0.683);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center; /* Aligns image and text vertically centered */
    font-size: 3rem;
    color: white;
    font-weight: 900;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
    color: #b74b4b;
}

.logo-image {
    width: 40px; /* Adjust size as needed */
    height: 40px;
    margin-right: 10px; /* Space between the image and text */
    border-radius: 50%; /* Makes the image circular, if desired */
}


nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover{
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}
nav a.active:hover{
    color: #b74b4b;
}


/* Menu icon styles */
.menu-icon {
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    display: none;
}
.menu-icon:hover {
    transform: scale(1.1);
    color: #b74b4b;

}


section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;

}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #b74b4b;
}
.home-content .web {
    color: orange;
}
.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border: 5px solid #b74b4b;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #b74b4b;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
    transform: scale(1.02);
    box-shadow: 0 0 30px #b74b4b;
}



.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #b74b4b;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0  0 25px #b74b4b;
}



.typing-text{
    font-size: 18px;
    font-weight: 500;
    min-width: 50px;
}

.typing-text span{
    position: absolute;
    
    color: #b74b4b;
}

/* From Uiverse.io by MuhammadHasann */ 
button {
    position: relative;
    padding: 12px 35px;
    background: #b74b4b;
    font-size: 13px;
    font-weight: 500;
    color: #181818;
    border: 3px solid #b74b4b;
    border-radius: 8px;
    box-shadow: 0 0 0 #862b2b;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  a{
    color: white;
  }
  .star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s ease;
  }
  
  button:hover {
    background: transparent;
    color: #b74b4b;
    box-shadow: 0 0 25px #862b2b;
  }
  
  button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .fil0 {
    fill: #fffdef;
  }
  /* From Uiverse.io by adamgiebl */
  .dots-container {
    display: none; /* Initially hidden */
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.dot {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #b3d4fc;
    animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
    margin-right: 0;
}

.dot:nth-child(1) {
    animation-delay: -0.3s;
}

.dot:nth-child(2) {
    animation-delay: -0.1s;
}

.dot:nth-child(3) {
    animation-delay: 0.1s;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        background-color: #b3d4fc;
        box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }

    50% {
        transform: scale(1.2);
        background-color: #6793fb;
        box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }

    100% {
        transform: scale(0.8);
        background-color: #b3d4fc;
        box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
}

/* About section starts */
.about{
    background-color: snow; /* Adjust the color to match the theme */
}
.about h1 {
    text-align: center;
    color: #b74b4b;
    font-size: 2.4rem;
}

.about .row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 4rem;
}

.about .row .image {
    text-align: center;
    flex: 1 1 35rem;
}

.about .row .image img {
    margin: 4rem;
    width: 30rem;
    height: auto;
    border-radius: 5%;
    transition: 0.3s;
    cursor: pointer;
}

.about .row .image img:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    transform: scale(1.05);
    box-shadow: 0 0 25px #b74b4b;
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 3rem;
}

.about .row .content h3 {
    color: black;
    font-size: 2.5rem;
}

.about .row .content .tag {
    font-size: 1.4rem;
    color: orange;
    font-weight: 600;
    margin-top: 1rem;
}

.about .row .content p {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    text-transform: none;
    color: black;
}

.about .row .content .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
}

.about .row .content .box-container .box p {
    text-transform: none;
}

.about .row .content .box-container .box p span {
    color: #011aff;
}



/* Main Resume Button */
.resume_btn {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    transition: all 1000ms;
    font-size: 10px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #b74b4b;
  }
  
  .resume_btn:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #db3737;
    box-shadow: 4px 5px 17px -4px #e03b3b;
  }
  
  .resume_btn::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #c83c3c;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  .resume_btn:hover::before {
    width: 250%;
  }
  
  /* Options Buttons */
  .resume-options {
    display: none;
    text-align: center;
    margin-top: 10px;
  }
  
  .option_btn {
    padding: 0.5em 1.5em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    color: #ffffff;
    margin: 5px;
    font-size: 12px;
    transition: all 0.3s ease;
  }
  
  .option_btn:hover {
    background-color: #e03b3b;
  }
  
  .option_btn a {
    text-decoration: none;
    color: #ffffff;
  }
  
  /* Close Button */
  .close_btn {
    background-color: transparent;
    color: #b74b4b;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    transition: color 0.3s ease;
  }
  
  .close_btn:hover {
    color: #e03b3b;
    background-color: transparent;
  }
  
  




.skills {
    padding: 3rem 2%;
    text-align: center;
    background: rgb(56, 37, 150);
}

.skills h2 {
    font-size: 3rem;
    font-weight: 700;
    color: yellow;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2rem; 
    margin-top: 2rem;
}

/* General Skill Card Styles */
.skill {
    background-color: #161616;
    padding: 1.5rem;
    border-radius: 1rem;
    transition: 0.3s ease;
    text-align: center;
    color: white;
}

/* Skill Cards Hover Colors */
.skills-container .skill:nth-child(1):hover {
    background-color: #ff5733; /* HTML - Redish Orange */
    color: #fff;
}

.skills-container .skill:nth-child(2):hover {
    background-color: #3498db; /* CSS - Light Blue */
    color: #fff;
}

.skills-container .skill:nth-child(3):hover {
    background-color: #f1c40f; /* JavaScript - Yellow */
    color: #000;
}

.skills-container .skill:nth-child(4):hover {
    background-color: yellowgreen; /* Python - Green */
    color: #fff;
}

.skills-container .skill:nth-child(5):hover {
    background-color: greenyellow; /* Django - Purple */
    color: #000;
}

.skills-container .skill:nth-child(6):hover {
    background-color: #39b3d4; /* React - Light Blue */
    color: #fff;
}

.skills-container .skill:nth-child(7):hover {
    background-color: #c6442a; /* Git - Red */
    color: #fff;
}

.skills-container .skill:nth-child(8):hover {
    background-color: #ee00ff; /* Node.js - Dark Green */
    color: #fff;
}


.skill-icon {
    width: 60px; /* Adjust the icon size */
    height: 60px;
    margin-bottom: 1rem; /* Space between the image and the text */
}

/* Skill name */
.skill p {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}
.js-icon{
    width: 80px;
    margin-bottom: 1rem;
}
.git-icon{
    width: 80px;
    margin-bottom: 1rem;
}
/* Desktop View: 4 cards per row */
.skills-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cards per row */
    gap: 2rem; /* Space between cards */
    margin-top: 2rem;
}






.education {
    padding: 3rem 10%;
    text-align: center;
    background: snow;
}

.education h2 {
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 700;
}

.education-container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    text-align: left;
}

.education-item {
    background-color: #161616;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 800px;
    width: 100%;
    text-align: left;
    transition: 0.3s ease;
    flex: 1 1 calc(50% - 2rem); /* Two cards in a row on larger screens */
}


.edu-logo1 {
    width: 100%;  /* Adjust the width to your preference */
    height: 50%;
    margin-bottom: 10px;
    display: block;
}
.edu-logo2 {
    width: 100%;  /* Adjust the width to your preference */
    height: auto;
    margin-bottom: 10px;
    display: block;
}

.education-item h3 {
    font-size: 2.4rem;
    color: #b74b4b;
    font-weight: 700;
}

.education-item p {
    font-size: 1.6rem;
    color: white;
    margin: 0.5rem 0;
}

.education-item span {
    font-size: 1.4rem;
    color: #b74b4b;
    font-weight: 500;
}

.education-item:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px #b74b4b;
}


/* Projects Section */
.projects {
    padding: 60px 0;
    background-color: rgb(0, 0, 33); /* Adjust the color to match the theme */
    text-align: center;
}

.projects h2 {
    font-size: 2.5rem;
    color: #b74b4b; /* Adjust to your theme's main color */
    margin-bottom: 40px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

.project-item {
    background-color: #161616; /* Adjust to match your card background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.project-item:hover {
    transform: translateY(-5px);
}

.project-item img {
    width: 100%;
    height: 200px; /* Adjust height as needed */
    object-fit: cover;
}

.project-info {
    padding: 20px;
}

.project-info h3 {
    font-size: 1.5rem;
    color: #b74b4b; /* Adjust to match your text color */
    margin-bottom: 10px;
}

.project-info p {
    color: #fff; /* Adjust to match your paragraph color */
    margin-bottom: 20px;
}

.project-info .btn {
    display: inline-block;
    background-color: #333; /* Adjust to your button color */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.project-info .btn:hover {
    background-color: #961212; /* Adjust hover color */
}
.see-more {
    text-align: center;
    margin-top: 20px;
}

.see-more {
    display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #ffffff;
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 13px;
  border-radius: 0.5em;
  background: transparent;
  border: 1px solid #e8e8e8;
}
.see-more:active{
    color: #ffffff;
}
.see-more::before{
    content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.see-more:after{
    content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #b74b4b;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.see-more:hover {
    top: -35%;
    background-color: #b74b4b;
    color: white;
    /* transform:  scaleY(0.9) scaleX(1.4); */
  }
.see-more:hover::after{
    top: -45%;
  background-color: #1bb584;
  transform: translateX(-50%) scaleY(0.9) scaleX(1.0);

}



.contact {
    margin-top: 1rem;
    padding: 1rem 5%;
    text-align: center;
}

.contact h2 {
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 700;
}

.contact p {
    font-size: 1.3rem;
    color: white;
    margin-top: 1rem;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.contact input, .contact textarea {
    width: 100%;
    max-width: 500px;
    padding: 1rem;
    font-size: 1.2rem;
    border: 2px solid #b74b4b;
    background-color: #161616;
    color: white;
    border-radius: 0.5rem;
}

.contact textarea {
    resize: vertical;
    height: 150px;
}

#submit {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    color: black;
    background-color: #b74b4b;
    border: none;
    border-radius: 0.5rem;
    transition: 0.3s;
}

#submit:hover {
    background-color: white;
    color: #b74b4b;
    transform: scale(1.05);
    box-shadow: #b74b4b;
}
footer {
    background-color: #161616;
    color: white;
    padding: 4rem 9%;
    text-align: center;
}

.footer-content h3 {
    font-size: 2rem;
    color: #b74b4b;
    font-weight: 700;
}

.footer-content p {
    font-size: 1.2rem;
    color: white;
    margin-top: 1rem;
    line-height: 1.6;
    max-width: 600px;
    margin: 1rem auto;
}

.footer-social-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.footer-social-icons a {
    font-size: 2.4rem;
    color: white;
    transition: 0.3s ease;
}

.footer-social-icons a:hover {
    color: #b74b4b;
    transform: scale(1.2);
}

.footer-bottom {
    margin-top: 1rem;
    border-top: 1px solid #b74b4b;
    padding-top: 1.5rem;
}

.footer-bottom p {
    font-size: 1.3rem;
    color: #b74b4b;
    margin-top: 0.3rem;
}
.footer-bottom p a{
    color: #fff;
    font-size: 1.3rem ;
}
.footer-bottom p a:hover{
    color: #b74b4b;
    text-decoration: underline;
    font-size: 1.3rem;

}

/* Adjust Footer Icons */
.footer-social-icons a {
    font-size: 2rem;
}




